<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16F73</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>HandShaker</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.smartisan.smartfindercommon</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HandShaker</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.5.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>408</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8E2002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16E185</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0832</string>
	<key>DTXcodeBuild</key>
	<string>8E2002</string>
	<key>FRApptrackerURL</key>
	<string>https://dc.smartisan.com/v1/tracker/app</string>
	<key>FRFeedbackURL</key>
	<string>https://dc.smartisan.com/user-experience/</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_handshaker_ssp._tcp</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015, Smartisan Digital Co., Ltd. All Rights Reserved.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>用于在局域网内发现并连接手机设备，实现无线文件传输。</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>SFApplication</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/rianlu/handshaker-mac-maintained/main/appcast.xml</string>
	<key>SUPublicDSAKey</key>
	<string>MIIBtzCCASsGByqGSM44BAEwggEeAoGBAJuHIKjbu8EPeqtOS7pW4hDJO7RosKBsfoNAzCAviq2zyBx0TBnjhQ8ZF6YHIUqlPm++BHZK7IKTswmdJIkoZVRJnSBTdVJyB0gcRqMxTNSLZI2YsM4NfZLpnlfemLfpUiihaivfqsRiEUAD2Gr5H2iUmu0rHz3zM8SaFjk+lo0PAhUArIsvUQMX0fOAv6MQmo1Jl+1mJjMCgYBTFlztZWrZqPZT86/I3S4z/dOoddFmjh9vrmpXHjhoc3uX6QqmVUbw8cKF3eABNm6xO35xSf0lc9ieNXKDrbY8WRNo/kFFZ1/DVkjuDIAgSW1jjTPYCaIKvdKhCGCrCtwpCLNdYY9u2By0a3y0Fo00omOIycnRkYq53iMi8fxMFAOBhQACgYEAgr7P+sfF+kNrt6nxNRWD3zDTJCYS2ByHNy8NNpbovEbf9qTPQjjbQ6Szk4vYjRJoXTcQosgunfon5j0KdmP0rGUE1Sm94R9QOL9VeE/ipCG0JVfxMVW0Jis83wlysL5WZWA8xiHj/Abb2m1ciOFczQ86+3E1zlpKFLDmoMGGWBE=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
